@charset "UTF-8";

/* 回答はここに書いてね */
.comment_box {
  position: relative;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  text-align: left;
  border: 5px solid #222;
  border-radius: 30px;
  z-index: 0;
}

.comment_box::before,
.comment_box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.comment_box::before{
  bottom: -45px;
  left: 30px;
  border-top-color: #222;
}

.comment_box::after {
  bottom: -40px;
  left: 30px;
  border-top-color: #fff;
}

.text {
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
