@charset "UTF-8";

/* 回答はここに書いてね */
.table {
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dedede;
}

.table_head th,
.table_body td {
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
}

.table_head {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.table_body {
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.table_body tr:nth-child(even) {
  background-color: #ecf1f2;
}

.table_body td:first-child {
  background-color:#2244aa;
  color:#fff;
  font-size: 18px;
  line-height: 26px;
}

.table_body tr:last-child{
  border-top: 2px dashed #000;
}
/* 回答はここに書いてね */
